html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden; /* чтобы не было прокрутки */
}

#__next, #root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
